<doctype html>
<title>List of Accounts - Python Flask MySQL CRUD</title>
<h2>PayDM: Manage Your Account</h2>
<hr/>
<p><a href="{{ url_for('.add_account_view') }}"> Add Account </a></p>

<p>
</p>

<table border="1">
    <thead>
<tr>
    <th>
        ID
    </th>
    <th>
        Name
    </th>
    <th>
        Amount
    </th>
    <th>
        Edit 
    </th>
    <th>
        Delete
    </th>
</tr>
</thead>
<tbody>

    {% for account in table %}
    <tr>
      <td>{{ account['id'] }}</td>
      <td>{{ account['name'] }}</td>
      <td>{{ account['amount'] }}</td>
      <td><a href="/edit/{{ account['id'] }}"> Edit </a></td>
      <td><a href="/delete/{{ account['id'] }}"> Delete </a></td>
    </tr>
  {% endfor %}

</tbody>

</table>
<br>
<hr>
Created By Rijusmit @2023