<doctype html>
<title>Add Account - Python Flask MySQL CRUD</title>
<h2>PayDM: Manage Your Account</h2>
<hr/>
<h2>Add Account</h2>
<form method="post" action="/add">
    <dl>
		<p>
			<input name="inputid" value="" type="text" placeholder="id" autocomplete="off" required>
		</p>
		<p>
			<input name="inputname" value="" type="text" placeholder="name" autocomplete="off" required>
		</p>
		<p>
			<input name="inputamount" value="" type="text" placeholder="amount" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
	<p>
		<a href = "/">Back To Root</a>
	</p>
</form>
<br>
<hr>
Created By Rijusmit @2023
