<doctype html>
<title>Edit Account - Python Flask MySQL CRUD</title>
<h2>Edit Account</h2>
<form method="post" action="/update">
    <dl>
		<p>
			<input name="inputid" value="{{ row['id'] }}" type="text" placeholder="Name" autocomplete="off" required>
		</p>
		<p>
			<input name="inputname" value="{{ row['name'] }}" type="text" placeholder="Email" autocomplete="off" required>
		</p>
		<p>
			<input name="inputamount" value="{{ row['amount'] }}" type="text" placeholder="amount" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input name="id" value="{{ row['id'] }}" type="hidden">
		<input type="submit" value="Submit">
	</p>
	<p>
		<a href = "/">Back To Root</a>
		
	</p>
</form>

<p>
	<form method="get" action="/">
		<input type="submit" value="home">
	</form>
</p>
